<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      lang="en">

<div layout:fragment="content">
    <h1 class="section-title">🎬공연목록</h1>

    <div class="concert-header nav">
        <div class="search-box nav-item">
            <form id="form" action="/concert/list" method="get">
                <div class="row">
                    <div class="col-auto">
                        <input class="form-control" name="keyword" type="text" placeholder="공연 제목을 입력하세요." th:value="${pageRequestDTO.keyword}">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="nav-item sort-tabs">
            <button type="button" class="sort-tab" data-type="startDate">최신순</button>
            <button type="button" class="sort-tab" data-type="rating">인기순</button>
            <button type="button" class="sort-tab" data-type="hitcount">조회순</button>
        </div>
    </div>

    <div class="concert-wrapper">
        <div class="concert-grid">
            <div class="card" th:each="concert : ${dtoList}">
                <img th:src="|/concert/img/${concert.posterFileName}|" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">[[${concert.title}]]</h5>
                    <p class="card-text">[[${#dates.format(concert.startDate, 'yyyy-MM-dd')}]] ~ [[${#dates.format(concert.endDate, 'yyyy-MM-dd')}]]</p>
                    <div class="rating">[[${concert.getReviewStars()}]]</div>
                    <a th:href="@{/concert/read(concertNum=${concert.concertNum})}" class="reserve-btn">예약하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".sort-tab").addEventListener("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
        let target = e.target;

        let type = target.getAttribute("data-type");
        let form = document.querySelector("#form");
        form.innerHTML += `<input type="hidden" name="type" value="${type}">`
        form.submit();
    })
</script>