<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      lang="en">

<div layout:fragment="content">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <img th:src="|/concert/img/${concert.posterFileName}|" class="rounded">
      </div>
      <div class="col-7">
        <table class="table table-hover">
          <tr>
            <th class="table-success">제목</th>
            <td>[[${concert.title}]]</td>
          </tr>
          <tr>
            <th class="table-success">공연 시작 날짜</th>
            <td>[[${concert.startDate}]]</td>
          </tr>
          <tr>
            <th class="table-success">공연 종료 날짜</th>
            <td>[[${concert.endDate}]]</td>
          </tr>
          <tr>
            <th class="table-success">공연 시간</th>
            <td>[[${concert.performanceTime}]]</td>
          </tr>
          <tr>
            <th class="table-success">공연 장소</th>
            <td>[[${concert.location}]]</td>
          </tr>
          <tr>
            <th class="table-success">이용 가능 연령</th>
            <td>[[${concert.ageRate}]]</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>