<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      lang="en">

<div layout:fragment="content">

    <h2 class="section-title">📢공지사항</h2>

    <div class="notice-container">
        <div class="notice-card">
            <div class="notice-header">
                <a class="notice-write-btn" href="/notices/register">
                   <!--th:if="${#authorization.expression('hasRole(''ADMIN'')')}"-->
                    작성하기
                </a>
            </div>

            <table class="notice-table">
                <thead>
                <tr>
<!--                    <th sec:authorize="hasRole('ADMIN')">No</th>-->
                    <th>No</th>
                    <th style="width: 45%;">제목</th>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 20%;">작성일</th>
                    <th style="width: 10%;">조회수</th>
                </tr>
                </thead>
                <tbody th:with="link=${pageRequestDTO.getLink()}">
                <tr th:each="notices:${responseDTO.dtoList}">
<!--                    <td sec:authorize="hasRole('ADMIN')">[[${notices.noticeNum}]]</td>-->
                    <td>[[${notices.noticeNum}]]</td>
                    <td>
                        <a th:href="|@{/notices/read(noticeNum=${notices.noticeNum})}&${link}|"
                           class="notice-link">
                            [[${notices.title}]]
                        </a>
                    </td>
                    <td>[[${#authentication.principal.username}]]</td>
                    <td th:text="${#temporals.format(notices.regDate, 'yyyy.MM.dd HH:mm')}"></td>
                    <td>[[${notices.hitcount}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</html>