<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
        lang="en">
<div layout:fragment="content">
  <div class="card-body">
    <h5 class="card-title">Notices List</h5>
      <div class="card">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Bno</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
            <th scope="col">RegDate</th>
<!--            <th scope="col">HitCount</th>-->
          </tr>
          </thead>
          <tbody>
          <tr th:each="board:${NoticesList}">
            <td>[[${notices.num}]]</td>
            <td><a th:href="@{/notices/read(num=${notices.notice_num})}">[[${notices.title}]]</a></td>
            <td>[[${notices.members_username}]]</td>
            <td>[[${notices.reg_date}]]</td>
<!--            <td>[[${notices.hitcount}]]</td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>