<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout.html}"
      lang="en">

<div layout:fragment="content">
  <h2 class="section-title">📢 공지사항</h2>

  <div class="notice-read-container">

    <!-- 작성일자 -->
    <div class="notice-read-date" th:text="${#temporals.format(notices.regDate, 'yyyy.MM.dd HH:mm')}"></div>
    <!-- 제목 -->
    <h2 class="notice-read-title" th:text="${notices.title}"></h2>
    <!-- 이미지 -->
    <div class="notice-read-images" th:if="${notices.fileNames != null && notices.fileNames.size() > 0}">
      <img class="notice-read-image" th:each="fileName : ${notices.fileNames}" th:src="|/notices/view/s_${fileName}|">
    </div>

    <!-- 내용 -->
    <div class="notice-read-content" th:text="${notices.content}">공지 내용</div>

    <!-- 버튼 -->
    <div class="notice-read-buttons" th:with="link=${pageRequestDTO.getLink()}">
      <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == notices.getMembers_username()}">
        <a th:href="|@{/notices/modify(members_username)}&${link}|">
          <button type="button" class="btn btn-success">수정</button>
        </a>
        <a th:href="@{/notices/remove(noticeNum=${notices.noticeNum})}">
          <button type="button" class="btn btn-danger">삭제</button>
        </a>
      </span>
      <a th:href="|@{/notices/list}?${link}|">
        <button type="button" class="btn btn-outline-secondary">목록</button>
      </a>
    </div>

  </div>
</div>

