<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout.html}"
      lang="en">

<div layout:fragment="content">
  <div class="card">
    <div class="card-title">공지사항</div>
    <div class="input-group mb-3">
      <span class="input-group-text">No</span>
      <input type="text" name="notice_num" class="form-control" th:value="${notices.notice_num}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">제목</span>
      <input type="text" name="notice_title" class="form-control" th:value="${notices.title}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">내용</span>
      <textarea name="notice_content" class="form-control col-sm-5" rows="5">[[${notices.content}]]</textarea>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">첨부파일</span>
      <div class="col" th:if="${notices.fileNames != null && notices.fileNames.size() > 0}">
        <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
          <img class="m-3" th:each="fileName: ${notices.fileNames}"
               th:src="|/notices/view/s_${fileName}|">
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">작성자</span>
      <input type="text" name="members_username" class="form-controller" th:value="${notices.members_username}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">조회수</span>
      <input type="text" name="readcount_faqs" class="form-controller" th:value="${faqs.hitcount}" readonly>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">작성일</span>
      <input type="text" name="members_reg_date" class="form-controller" th:value="${notices.regDate}">
    </div>
    <div class="input-group mb-3" th:with="link=${pageRequestDTO.getLink}">
      <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.members_username == notices.getMembersUsername()}">
        <a th:href="|@{/notices/modify(members_username)}&${link}|">
          <button type="button" class="btn btn-primary">추가</button>
        </a>
        <a th:href="@{/notices/remove(notice_num=${notices.notice_num})}">
          <button type="button" class="btn btn-danger">remove</button>
        </a>
        </span>
        <a th:href="|@{/notices/list}?${link}|">
          <button type="button" class="btn btn-secondary">List</button>
        </a>
    </div>

  </div>
</div>