<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" lang="en">

<div layout:fragment="content">

    <div class="main-banner">
        <img src="/images/banner.png" alt="메인 배너">
    </div>

    <div class="review-preview-section">
        <h2>LUCKYSTAGE에 오신것을 환영합니다. </h2>
        <div class="review-cards">
            <div class="review-card">
                <p class="review-content">[[${latestReviewList.get(0).content}]]</p>
                <p class="review-meta">- [[${latestReviewList.get(0).nickname}]] [[${latestReviewList.get(0).getReviewStars()}]]</p>
            </div>
            <div class="review-card">
                <p class="review-content">[[${latestReviewList.get(1).content}]]</p>
                <p class="review-meta">- [[${latestReviewList.get(1).nickname}]] [[${latestReviewList.get(1).getReviewStars()}]]</p>
            </div>
            <div class="review-card">
                <p class="review-content">[[${latestReviewList.get(2).content}]]</p>
                <p class="review-meta">- [[${latestReviewList.get(2).nickname}]] [[${latestReviewList.get(2).getReviewStars()}]]</p>
            </div>
            <a href="/review/list" class="view-all-reviews">후기 전체보기 ></a>
        </div>
    </div>

    <div class="main-best">
        <h1 class="section-title">BEST🔥</h1>
    <section class="slider">
        <a th:href="@{/concert/read(concertNum=${bestList.get(0).concertNum})}" style="color: #1e1e1e">
            <div><img th:src="|/concert/img/${bestList.get(0).posterFileName}|"><p>[[${bestList.get(0).title}]]</p></div>
        </a>
        <a th:href="@{/concert/read(concertNum=${bestList.get(1).concertNum})}" style="color: #1e1e1e">
            <div><img th:src="|/concert/img/${bestList.get(1).posterFileName}|"><p>[[${bestList.get(1).title}]]</p></div>
        </a>
        <a th:href="@{/concert/read(concertNum=${bestList.get(2).concertNum})}" style="color: #1e1e1e">
            <div><img th:src="|/concert/img/${bestList.get(2).posterFileName}|"><p>[[${bestList.get(2).title}]]</p></div>
        </a>
        <a th:href="@{/concert/read(concertNum=${bestList.get(3).concertNum})}" style="color: #1e1e1e">
            <div><img th:src="|/concert/img/${bestList.get(3).posterFileName}|"><p>[[${bestList.get(3).title}]]</p></div>
        </a>
        <a th:href="@{/concert/read(concertNum=${bestList.get(4).concertNum})}" style="color: #1e1e1e">
            <div><img th:src="|/concert/img/${bestList.get(4).posterFileName}|"><p>[[${bestList.get(4).title}]]</p></div>
        </a>
    </section>
    </div>

    <div class="main-list">
        <h1 class="section-title">최신 콘서트 둘러보기</h1>
        <div class="concert-wrapper">
            <a th:href="@{/concert/read(concertNum=${latestList.get(0).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(0).posterFileName}|">
                    <p>[[${latestList.get(0).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(1).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(1).posterFileName}|">
                    <p>[[${latestList.get(1).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(2).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(2).posterFileName}|">
                    <p>[[${latestList.get(2).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(3).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(3).posterFileName}|">
                    <p>[[${latestList.get(3).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(4).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(4).posterFileName}|">
                    <p>[[${latestList.get(4).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(5).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(5).posterFileName}|">
                    <p>[[${latestList.get(5).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(6).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(6).posterFileName}|">
                    <p>[[${latestList.get(6).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(7).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(7).posterFileName}|">
                    <p>[[${latestList.get(7).title}]]</p>
                </div>
            </a>
            <a th:href="@{/concert/read(concertNum=${latestList.get(8).concertNum})}" style="color: #1e1e1e">
                <div class="concert-box">
                    <img th:src="|/concert/img/${latestList.get(8).posterFileName}|">
                    <p>[[${latestList.get(8).title}]]</p>
                </div>
            </a>
        </div>

        <div class="button-category">
            <a href="/concert/list" class="round-button">
                콘서트 전체보기 &gt;
            </a>
        </div>
    </div>
</div>
</html>

<script th:inline="javascript">
    $(function () {
        const urlParams = new URL(location.href).searchParams;
        if (urlParams.get('success') === 'delete') {
            alert('회원 탈퇴가 완료되었습니다.');
            // 주소창에서 ?success=delete 없애기
            history.replaceState(null, "", location.pathname);
        }

        if ($('.slider').length) {
            $('.slider').slick({
                autoplay: true,
                dots: true,
                arrows: true,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                centerMode: false,
                prevArrow: '<button type="button" class="slick-prev">&lt;</button>',
                nextArrow: '<button type="button" class="slick-next">&gt;</button>'
            });
        }
    });
</script>